* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.clockContainer {
    width: 40vw;
    height: 40vw;
    background: url(clock.png) no-repeat;
    background-size: 100%;
    margin: 0 auto;
    position: relative;
}
#hour, #minute, #second {
    position: absolute;
    border-radius: 10px;
    background: black;
    transform-origin: bottom;
}
#hour {
    height: 30%;
    width: 1%;
    left: 49.5%;
    top: 20%;
    opacity: 0.8;
}
#minute {
    height: 31%;
    width: 1%;
    left: 49.5%;
    top: 19%;
    opacity: 0.8;
}
#second {
    height: 34%;
    width: 1%;
    left: 49.5%;
    top: 15%;
    opacity: 0.8;
}